<footer class="footer-kemik">

  <div class="footer-container">

    <!-- Políticas -->
    <div class="footer-section">
       <h3>Políticas</h3>
  <ul class="politicas__links">
    <li>
      <a [routerLink]="['/terminos-condiciones']"
         fragment="hero"
         routerLinkActive="activo">Términos y Condiciones</a>
    </li>
    <li>
      <a [routerLink]="['/politica-privacidad']"
         fragment="hero"
         routerLinkActive="activo">Política de Privacidad</a>
    </li>
    <li>
      <a [routerLink]="['/politica-devoluciones']"
         fragment="hero"
         routerLinkActive="activo">Política de Devoluciones</a>
    </li>
  </ul>
    </div>

    <!-- Contacto -->
    <div class="footer-section">
      <h3>Contáctanos</h3>
      <p>Tel: +502 1234-5678</p>
      <p>Email: soporte@mitienda.com</p>
      <p>Dirección: Ciudad de Guatemala</p>
    </div>

    <!-- Redes sociales -->
    <div class="footer-section">
      <h3>Síguenos</h3>
      <div class="social-links">
        <a href="#" aria-label="Facebook">
          <img src="/iconos/facebook.png" alt="Facebook">
        </a>
        <a href="#" aria-label="Instagram">
          <img src="/iconos/instagram.png" alt="Instagram">
        </a>
        <a href="#" aria-label="Twitter">
          <img src="/iconos/twitter (1).png" alt="Twitter">
        </a>
        <a href="#" aria-label="YouTube">
          <img src="/iconos/youtube.png" alt="YouTube">
        </a>
        <a href="#">
          <img src="/iconos/tik-tok.png" alt="TikTok">
        </a>
      </div>
    </div>


  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 QuickMarket. Todos los derechos reservados.</p>
  </div>
</footer>

